@{
    Layout="Shared/_Layout.cshtml";
}

@foreach (var client in @Model["clients"])
{
  <h3>@client.GetName()</h3>
  <p>@client.GetNotes()</p>
  <!-- display client's stylist here. maybe with new column in client table? -->
}

<h2>Add new client</h2>
<form action="/clients/new" method="post" id="new-client">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">

  <label for="stylist-id">Stylist</label>
  <select name="stylist-id">
    <option value="0"></option>
    @foreach (var stylist in @Model["stylists"])
    {
      <option value="@stylist.GetId()">@stylist.GetName()</option>
    }
  </select>

  <label for="notes">Notes</label>
  <input type="text" name="notes" id="notes">

  </div>
</div>
<button type="submit" name="button" class="btn btn-lg btn-info">Submit</button>
</form>
