@{
    Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-xs-3">
    <h2>Edit client: @Model["client"].GetName()</h2>
    <form action="/client/@Model["client"].GetId()/deleted" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" name="button" class="btn btn-warning">Delete this Client</button>
    </form>

    <a href="/stylist/@Model["stylist"].GetId()">Done</a>
  </div>

  <div class="col-xs-1 whitespace"></div>

  <div class="col-xs-8">
    <form action="/client/edit/@Model["client"].GetId()" method="post" id="update-client">
      <input type="hidden" name="_method" value="PATCH">

      <input name="stylist-id" type="hidden" value="@Model["stylist"].GetId()">

      <div class="form-group">
        <label for="client-name">Name</label>
        <input class="form-control" id="client-name" name="client-name" type="text" placeholder="@Model["client"].GetName()">
      </div>

      <div class="form-group">
        <label for="client-notes">Notes</label>
        <textarea class="form-control" rows="3" id="client-notes" name="client-notes" type="text" placeholder="@Model["client"].GetNotes()"></textarea>
      </div>

      <label for="client-stylist">Stylist</label>
      <select class="form-control" name="client-stylist">
        <option value="0"></option>
        @foreach (var stylist in @Model["stylists"])
        {
          <option value="@stylist.GetId()">@stylist.GetName()</option>
        }
      </select>

      <button type="submit" class="btn btn-lg btn-info">Submit</button>
    </form>
  </div>
</div>
